
// html, body{
//     background-color: #e4a199
//   }
//   .wrapper{
//     width:200px;
//     padding-top: 20px;
//     text-align:center;
//   }
//   h2{
//     font-family:sans-serif;
//     color:#fff;
//   }
//   .carousel{
//     width:90%;
//     margin:0px auto;
//   }
//   .slick-slide{
//     margin:10px;
//   }
//   .slick-slide img{
//     width: 200px;
//     height: 200px;
//     border: 2px solid #fff;
//   }

  html, body{
    // background-color: #e74c3c;
    background-image: url("./assets/img/drapeau-indonesie-langue-bahasa.jpg");
  }
  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }
  h2{
    font-family:sans-serif;
    color:#fff;
  }
  .carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .titre {
    display: inline-block;
    margin: 0 0.5rem;
  
    // animation: zoomin; /* referring directly to the animation's @keyframe declaration */
    // animation-duration: 2s; /* don't forget to set a duration! */
  }
  #borobudur {
    display : none;
  }
  #bromo{
    display : none;
  }