html, body {
  background-image: url("./assets/img/drapeau-indonesie-langue-bahasa.jpg");
}

.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  color: #fff;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}

.titre {
  display: inline-block;
  margin: 0 0.5rem;
}

#borobudur {
  display: none;
}

#bromo {
  display: none;
}

/*# sourceMappingURL=prod.css.map */
